In [24]:
def square(x):
    return x * x

square(10)

100

In [25]:
numbers = [1 ,2 ,4,5,6,7]

list(map(square , numbers))

[1, 4, 16, 25, 36, 49]

In [26]:
# lambda function with map 

numbers = [1 ,2 ,3 ,4,5,6,7,8,9]

list(map(lambda x : x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
# Map multiple Iterables 

numbers1 = [1 ,2,3]
numbers2 = [4,5,6]

added_numbers =list( map(lambda x , y : x + y  ,numbers1 , numbers2))
print(added_numbers)

[5, 7, 9]

In [28]:
# Ma to convert list of Strings to integers 

str_num = ['1' , '2' , '3' , '4'  , '5']
int_num = list(map(int , str_num))

print(int_num)

[1, 2, 3, 4, 5]

In [29]:
words = ['apple' , 'banana' , 'cherry']

upper_words = list(map (lambda x: x.upper() , words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [30]:
def get_name(person):
    return person['name']

people = [
    {'name' : 'Krish' , 'age' :32},
    {'name' : 'Rahul' , 'age' : 27},
    {'name' : 'Rohan' , 'age' : 35}
]

In [31]:
list(map(get_name , people))

['Krish', 'Rahul', 'Rohan']