In [38]:
empty_tuple = ()
print(empty_tuple)  # Output: ()
print(type(empty_tuple))

()
<class 'tuple'>

In [39]:
numbers = tuple([1,2,3,4,5,6,])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [40]:
num = list(numbers)
print(num)

[1, 2, 3, 4, 5, 6]

In [41]:
num1 = tuple(num)
print(num1)

(1, 2, 3, 4, 5, 6)

In [42]:
mixed_tuple=(1 , "Aman" , 9.90 , True)
print(mixed_tuple)

(1, 'Aman', 9.9, True)

In [43]:
mixed_tuple[2]

9.9

In [44]:
mixed_tuple[-1]

True

In [45]:
numbers[0:4:2]

(1, 3)

#Tupels Operations

In [46]:
print(numbers + mixed_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Aman', 9.9, True)

In [47]:
# print(num + numbers)  give error because tuple and list can not be concatenate

In [48]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

 IMMUTABLE NATURE OF TUPLE
 Tuple is immutable, so we cannot change its elements

In [49]:
lst = [1,2,3,4,5 ,1]
print(lst)
lst[1] = 2
print(lst)  #list are mutable  in nature but tuple not 
num = tuple(lst)
print(num)
# num[1] = 10 # 'tuple' object does not support item assignment

[1, 2, 3, 4, 5, 1]
[1, 2, 3, 4, 5, 1]
(1, 2, 3, 4, 5, 1)

In [51]:
print(num.count(1))
print(num.index(3))   # returns the index of the first occurrence of 3

2
2

packing and Unpacking tuple

In [53]:
# Packing
packed_tuple = 1 , "Hello" , 3.78
print(packed_tuple)
# Unpacking
a,b,c = packed_tuple

print(a)
print(b)
print(c)

(1, 'Hello', 3.78)
1
Hello
3.78

In [54]:
# Unpacking with star 
numbers = (1,2,3,4,5,6,7)
first,*middle,last = numbers
print(first) # Output: 1
print(middle) # [2, 3, 4, 5, 6]
print(last) # 7

1
[2, 3, 4, 5, 6]
7

In [62]:
# Nested Tuples 
lst = [[1,2,3] , ['Hello' , 3.98 , True]]
print(lst[0]) # Output: [1, 2, 3]
print(lst[0][0:3]) # Output: [1, 2, 3]
print(lst[0][1])

[1, 2, 3]
[1, 2, 3]
2

In [64]:
neste_tuple =((1,2,3) , ('a' , 'b' , 'c') , (True , False ))

print(neste_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [65]:
for sub_tuple in neste_tuple:
    print(sub_tuple)

(1, 2, 3)
('a', 'b', 'c')
(True, False)

**Conclusion**
Tuples are versatile and useful in many real - world scenarios where immmutable and ordered collection of items is required. They are commanly usd in Data Structure , functions , arguments and return values , and as dictionary keys. Understanding hoe to leverage tuples effectively can improve the efficiency and rediability  of your code.