In [38]:
import numpy as np 
import pandas as pd               
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [39]:
df = pd.read_csv('synthetic_adds_data.csv')

In [40]:
df.head()

   user_id Gender  Age  EstimatedSalary  purchased
0        6      M   49            65893          1
1        1      M   62            38750          0
2        7      F   36           115259          0
3        9      F   18           142210          1
4        1      M   58            96538          0

In [41]:
df['Gender'].replace({'M': 0, 'F': 1}, inplace=True)

In [42]:
df.head()

   user_id  Gender  Age  EstimatedSalary  purchased
0        6       0   49            65893          1
1        1       0   62            38750          0
2        7       1   36           115259          0
3        9       1   18           142210          1
4        1       0   58            96538          0

In [43]:
X = df.iloc[:,1 :4].values
y =  df.iloc[:, -1].values

In [44]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [45]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [46]:
from sklearn.tree import DecisionTreeClassifier
DTC  = DecisionTreeClassifier(criterion='entropy', random_state=0)
DTC.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [47]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = DTC.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[3 6]
 [6 5]]
0.4