In [2]:
import sqlite3

In [3]:
#connect to an sqllite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
# Create the table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employee(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

# Commit the changes
connection.commit()

In [6]:
# insert the data in 

cursor.execute(''' 
INSERT INTO employee(name , age , department)
VALUES('CHARLIE' , 38 , 'Finance')''')

cursor.execute(''' 
INSERT INTO employee(name , age , department)
VALUES('BOB' , 34 , 'Engineering')''')

cursor.execute(''' 
INSERT INTO employee(name , age , department)
VALUES('Kiriti Aajad' , 22 , 'Engineering')''')

In [7]:
cursor.execute('SELECT * FROM EMPLOYEE')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'CHARLIE', 38, 'Finance')
(2, 'BOB', 34, 'Engineering')
(3, 'Kiriti Aajad', 22, 'Engineering')

In [8]:
# Update data int the table 
cursor.execute(''' 
               UPDATE employee
               set age = 22
               where name = 'BOB' ''')

cursor.execute('SELECT * FROM EMPLOYEE')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'CHARLIE', 38, 'Finance')
(2, 'BOB', 22, 'Engineering')
(3, 'Kiriti Aajad', 22, 'Engineering')

In [9]:
# Delete the data 
cursor.execute(''' 
               DELETE from employee
               where age = 38 ''')

cursor.execute('SELECT * FROM EMPLOYEE')
rows = cursor.fetchall()

for row in rows:
    print(row)
    
connection.close()

(2, 'BOB', 22, 'Engineering')
(3, 'Kiriti Aajad', 22, 'Engineering')