## Data Encoding

1.Nominal/OHE Encoding

2.Label and Oridinal Encoding
 
3.Tagret Guided Ordinal Encoding

1. Nominal Encoding / One-Hot Encoding (OHE)
Definition: One-Hot Encoding is a method used to convert categorical variables into binary vectors. Each unique value in a categorical column is represented as a binary column with 1 for the presence and 0 for the absence of the category.
Use Case: Best for nominal (unordered) categorical variables, where categories do not have any inherent order (e.g., colors: red, green, blue).
Implementation: Most libraries, like Pandas, offer pd.get_dummies() to handle one-hot encoding.

In [33]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [34]:
df = pd.DataFrame({'color' : ['red' , 'blue'  , 'green' , 'red' , 'blue']}
                  )

In [35]:
df.head

<bound method NDFrame.head of    color
0    red
1   blue
2  green
3    red
4   blue>

In [36]:
# create an instance of one hotencoder 
encoder = OneHotEncoder()

In [37]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [38]:
import pandas as pd 
encoder_df = pd.DataFrame(encoded , columns=encoder.get_feature_names_out())

In [39]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [40]:
encoder.transform([['blue']]).toarray()

c:\Users\Kirit\anaconda3\envs\ml_env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [41]:
pd.concat([df , encoder_df] , axis= 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [42]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [43]:
import seaborn as sns 

sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [44]:
df.head

<bound method NDFrame.head of    color
0    red
1   blue
2  green
3    red
4   blue>

In [45]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder = LabelEncoder()

In [46]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\Kirit\anaconda3\envs\ml_env\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [47]:
lbl_encoder.transform([['red']])

c:\Users\Kirit\anaconda3\envs\ml_env\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

## Odinal Encoding

In [48]:
from sklearn.preprocessing import OrdinalEncoder

odl_Encoder = OrdinalEncoder()

df = pd.DataFrame({'size' : ['small' , 'medium' , 'large' , 'small' , 'medium' , 'medium' , 'small' ,'large']})
df

     size
0   small
1  medium
2   large
3   small
4  medium
5  medium
6   small
7   large

In [49]:

encoder = OrdinalEncoder(categories=[['small' , 'medium' , 'large']])
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [2.]])

In [50]:
encoder.transform([['small']])

c:\Users\Kirit\anaconda3\envs\ml_env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

## Target Guided ordinal Encoding

In [52]:
df = pd.DataFrame({
    'city' : ['New york' , 'London' , 'Paris' , 'Tokyo' , 'New york' , 'paris'],
    'price' : [200 , 218 , 150 , 900 , 320 , 450]
    
})

In [53]:
df

       city  price
0  New york    200
1    London    218
2     Paris    150
3     Tokyo    900
4  New york    320
5     paris    450

In [57]:
mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 218.0,
 'New york': 260.0,
 'Paris': 150.0,
 'Tokyo': 900.0,
 'paris': 450.0}

In [58]:
df['city_encoded'] = df['city'].map(mean_price)

In [60]:
df[['city' , 'city_encoded']]

       city  city_encoded
0  New york         260.0
1    London         218.0
2     Paris         150.0
3     Tokyo         900.0
4  New york         260.0
5     paris         450.0