## Data Encoding

1.Nominal/OHE Encoding

2.Label and Oridinal Encoding
 
3.Tagret Guided Ordinal Encoding

1. Nominal Encoding / One-Hot Encoding (OHE)
Definition: One-Hot Encoding is a method used to convert categorical variables into binary vectors. Each unique value in a categorical column is represented as a binary column with 1 for the presence and 0 for the absence of the category.
Use Case: Best for nominal (unordered) categorical variables, where categories do not have any inherent order (e.g., colors: red, green, blue).
Implementation: Most libraries, like Pandas, offer pd.get_dummies() to handle one-hot encoding.

In [10]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [11]:
df = pd.DataFrame({'color' : ['red' , 'blue'  , 'green' , 'red' , 'blue']}
                  )

In [12]:
df.head

<bound method NDFrame.head of    color
0    red
1   blue
2  green
3    red
4   blue>

In [13]:
# create an instance of one hotencoder 
encoder = OneHotEncoder()

In [16]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [17]:
import pandas as pd 
encoder_df = pd.DataFrame(encoded , columns=encoder.get_feature_names_out())

In [18]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [19]:
encoder.transform([['blue']]).toarray()

c:\Users\Kirit\anaconda3\envs\ml_env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [21]:
pd.concat([df , encoder_df] , axis= 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [22]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [23]:
import seaborn as sns 

sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]